.infoBlock {
   display: flex;
   padding: 100px 0;
   align-items: center;
   flex-wrap: wrap;

      .info {
         display: flex;
         flex-direction: column;
         margin-right: auto;
         justify-content: flex-end;

            .title {
               font-size: 32px;
               color: #343A40;
               margin-bottom: 10px;
            }

            .date {
               font-size: 18px;
               color: rgba($color: #343A40, $alpha: 0.9);
               margin-bottom: 20px;
            }

            .degrees {
               font-size: 96px;
               font-weight: 500;
               color: #343A40;
            }
      }

      .weather {
         width: 60%;
         display: flex;
         justify-content: space-between;
         align-self: stretch;
         margin-bottom: 20px;

            .card {
               display: flex;
               flex-direction: column;
               align-items: center;
               justify-content: space-between;

                  .value {
                     font-size: 32px;
                     color: #343A40;
                  }
            }
      }
}
