.measurements {
   background-color: #343A40;
   
      .container {
         display: flex;
         padding: 50px 0;
         justify-content: space-between;

            .card {
               display: flex;
               flex-direction: column;
               align-items: center;
               gap: 10px;

                  .name {
                     color: rgba($color: #ffffff, $alpha: 0.8);
                     font-size: 18px;
                  }

                  .value {
                     color: #FFFFFF;
                     font-size: 24px;
                     font-weight: 700;
                  }
            }
      }
}