.base {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 10px 25px;
   border-radius: 7px;
   border: none;
   cursor: pointer;
   -webkit-tap-highlight-color: transparent;
}